body {
  background-color: #ffffff;
}
#root {
  height: 100vh;
}

/*Logo*/

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  height: 50%;
}

.logo {
  height: 300px;
  width: auto;
}

/*Navbar*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 220px;
  background-color: #f5f3f3; /* opcional */
}
.nav-links {
  display: flex; /* <-- Esto pone la lista en horizontal */
  list-style: none; /* Quita los bullets */
  margin: 0;
  padding: 0;
  gap: 24px; /* Espacio entre los elementos */
}

.menu-icon {
  height: 40px;
  width: 40px;
  margin-left: 900px;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 800px;
  padding: 0 48px;
  margin-top: 3rem;
  border-bottom: 1px solid #000000;
  overflow: hidden;
}

header p {
  max-width: 50vw;
  min-width: 300px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffff;
}

.cuarentalogo {
  height: 600px;
  width: 600px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

/* Carrusel principal */
.carrusel {
  width: 100vw;
  height: 100vh; /* Ocupa toda la pantalla */
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Carrusel interno */
.carrusel-track {
  display: flex;
  width: 300vw; /* 4 imágenes x 100vw */
  height: 100%;
  animation: deslizar 20s steps(10) infinite; /* 3s por imagen x 4 imágenes */
}

/* Imágenes del carrusel */
.carrusel-track img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

/* Animación por pasos */
@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300vw); /* Desplazamiento total (4 imágenes) */
  }
}

/* Mobile friendly (opcional: si prefieres menos alto en móviles) */
@media (max-width: 768px) {
  .carrusel {
    height: 70vh;
  }

  .carrusel-track img {
    height: 70vh;
  }
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: fit-content;
  padding: 20px 40px;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-radius: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-white {
  background-color: white;
  color: #000000;
}

.btn-black {
  background-color: #000000;
  color: #ffffff;
}
